*

!src/
!src/*
!src/HEADERS
!src/HEADERS/*

!build/
!build/AUDIO
!build/AUDIO/*
!build/SPRITES
!build/SPRITES/*

!build_windows/
!build_windows/AUDIO
!build_windows/AUDIO/*
!build_windows/SPRITES
!build_windows/SPRITES/*

!Makefile_Linux
!Makefile_Windows

!unix_obj/
!win_obj/

!server/
!server/src
!server/src/*
!server/build
!server/build_windows
!server/unix_obj
!server/win_obj